In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv('Algerian_forest_fires_cleaned_dataset.csv')

In [5]:
df.head()

   2  6  2012  29  61  13   1.3  ...  1.0   3.9  0.4     not fire  0  0.0 Region
0  3  6  2012  26  82  22  13.1  ...  0.3   2.7  0.1  not fire     0  0.0    0.0
1  4  6  2012  25  89  13   2.5  ...  0.0   1.7  0.0  not fire     0  NaN    0.0
2  5  6  2012  27  77  16   0.0  ...  1.2   3.9  0.5  not fire     0  NaN    NaN
3  6  6  2012  31  67  14   0.0  ...  3.1   7.0  2.5      fire     0  NaN    NaN
4  7  6  2012  33  54  13   0.0  ...  6.4  10.9  7.2      fire     0  NaN    NaN

[5 rows x 17 columns]

In [6]:
df.columns

Index(['2', '6', '2012', '29', '61', '13', '1.3', '64.4', '4.1', '7.6', '1.0',
       '3.9', '0.4', 'not fire', '0', '0.0', 'Region'],
      dtype='object')

In [7]:
##Drop month,day and year
df.drop(['2','6','2012'],axis=1,inplace=True)

In [8]:
df.head()

   29  61  13   1.3  64.4  4.1  ...   3.9  0.4     not fire  0  0.0  Region
0  26  82  22  13.1  47.1  2.5  ...   2.7  0.1  not fire     0  0.0     0.0
1  25  89  13   2.5  28.6  1.3  ...   1.7  0.0  not fire     0  NaN     0.0
2  27  77  16   0.0  64.8  3.0  ...   3.9  0.5  not fire     0  NaN     NaN
3  31  67  14   0.0  82.6  5.8  ...   7.0  2.5      fire     0  NaN     NaN
4  33  54  13   0.0  88.2  9.9  ...  10.9  7.2      fire     0  NaN     NaN

[5 rows x 14 columns]

In [9]:
X=df.drop('0.0',axis=1)
y=df['0.0']

In [11]:
X

     29  61  13   1.3  64.4   4.1  ...  1.0   3.9  0.4      not fire  0  Region
0    26  82  22  13.1  47.1   2.5  ...  0.3   2.7  0.1   not fire     0     0.0
1    25  89  13   2.5  28.6   1.3  ...  0.0   1.7  0.0   not fire     0     0.0
2    27  77  16   0.0  64.8   3.0  ...  1.2   3.9  0.5   not fire     0     NaN
3    31  67  14   0.0  82.6   5.8  ...  3.1   7.0  2.5       fire     0     NaN
4    33  54  13   0.0  88.2   9.9  ...  6.4  10.9  7.2       fire     0     NaN
..   ..  ..  ..   ...   ...   ...  ...  ...   ...  ...           ... ..     ...
236  30  65  14   0.0  85.4  16.0  ...  4.5  16.9  6.5       fire     1     NaN
237  28  87  15   4.4  41.1   6.5  ...  0.1   6.2  0.0   not fire     1     NaN
238  27  87  29   0.5  45.9   3.5  ...  0.4   3.4  0.2   not fire     1     NaN
239  24  54  18   0.1  79.7   4.3  ...  1.7   5.1  0.7   not fire     1     NaN
240  24  64  15   0.2  67.3   3.8  ...  1.2   4.8  0.5  not fire      1     NaN

[241 rows x 13 columns]

In [12]:
y

0      0.0
1      NaN
2      NaN
3      NaN
4      NaN
      ...
236    NaN
237    NaN
238    NaN
239    NaN
240    NaN
Name: 0.0, Length: 241, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [14]:
X_train.shape,X_test.shape

((180, 13), (61, 13))